@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Foldit:wght@100..900&family=Oswald:wght@200..700&family=Playwrite+CU:wght@100..400&display=swap');
body {
    background-color: grey;
}
#reloj {
    font-family: "Foldit", sans-serif;
font-size: 80px;
text-shadow: 0px 0px 1px;
color: white;
letter-spacing: 15px;
}
.reloj-contenedor {
    background: #161616;
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15%;
    box-shadow: 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);


}
#fecha {
    letter-spacing: 15px;
    font-size: 20px;
    font-family: "Foldit", sans-serif;
}
#day {
    letter-spacing: 15px;
    font-size: 25px;
    font-family: "Foldit", sans-serif;
}
h1 {
font-size: 25px;
letter-spacing: 15px;
}
/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .reloj-contenedor {
        padding: 20px;
        max-width: 300px;
        margin-top: 20%;
    }

    #reloj {
        font-size: 60px;
        letter-spacing: 10px;
    }

    #fecha {
        font-size: 18px;
        letter-spacing: 10px;
    }

    #day {
        font-size: 22px;
        letter-spacing: 10px;
    }

    h1 {
        font-size: 22px;
        letter-spacing: 10px;
    }
}